.ex-1-square:hover {
    background-color: red;
}
.ex-2-square:active {
    width: 100%;
}
.ex-3-square:hover {
    border-radius: 50%;
}
.ex-4-square:hover {
    opacity: 0;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(.5);
}
.ex-6-img:hover {
    filter: grayscale();
}
.ex-7-img:hover {
    filter: grayscale(.8) sepia(.4);
}
.ex-8-img:hover {
    filter: grayscale(.8) sepia(.4);
    border-radius: 5%;
}
.ex-9-img:hover {
    filter: grayscale(.8) sepia(.4);
    border-radius: 10%;
    transform: scale(1.5);
}
@keyframes rotation {
    0% {
        transform: rotate(360deg);
    }
    
}
.ex-10-icon {
    animation: rotation 1s linear infinite
}
@keyframes spin {
    0%, 100% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(315deg)
    }   
}
.ex-11-icon:hover {
    animation: spin 2s linear 
}
@keyframes move-one {
    0% {
        top: -10px;
        left: 10%;
    }
    50% {
        top: -10px;
        left: calc(100% - 60px);
    }
    100% {
        top: -10px;
        left: 10%;
    }
}
@keyframes move-two {
    0% {
        bottom: -10px;
        right: 20%;
    }
    50% {
        bottom: -10px;
        right: calc(100% - 60px);
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
@keyframes move-three {
    0% {
        top: -10px;
        left: 10%;
    }
    30% {
        top: -10px;
        left: calc(100% - 30px);
    }
    45% {
        top: 100%;
        left: calc(100% - 30px);
    }
    75% {
        top: 100%;
        left: 0;
    }
    90% {
        top: -10px;
        left: -15px;
    }
    100% {
        top: -10px;
        left: 10%;
    }
    
}
@keyframes move-four {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        bottom: -10px;
        right: calc(100% - 45px)
    }
    45% {
        bottom: 100%;
        right: calc(100% - 45px)
    }
    75% {
        bottom: 100%;
        right: 0;
    }
    90% {
        bottom: -10px;
        right: -30px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
.ex-12-button:hover .ex-12-top-white {
    animation: move-one 2s linear;
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: move-two 2s linear;
}
.ex-13-button:hover .ex-13-top-white {
    animation: move-three 2s linear;
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: move-four 2s linear;
}